button {
    cursor: pointer;
}

@media (hover: hover) {

    .sidebar {

        &__top-link:hover,
        &__sub-link:hover {
            color: #005640;
        }
    }




    .header {

        &__sub-link:hover {
            cursor: pointer;
            color: #005640;

            path {
                stroke: #005640;
            }
        }
    }

    .top-btn {

        &:hover {
            background: #005640;
            color: #fff;
            border: 1px solid transparent;
        }
    }

    .categories__link {
        transition: .3s;

        &:hover {
            background: #005640;
            color: #fff;
        }
    }

    .more-news__item:hover {
        transition: .3s;
        border-color: #005640;

        .more-news__title {
            transition: .3s;
            color: #005640;
        }
    }

    .articles__item:hover {
        transition: .3s;
        background: #005640;

        .articles__title {
            color: #fff;
        }

        .articles__body-date {
            color: #fff;
        }
    }

    .articles__title:hover {

        text-decoration: underline;
        color: #fff;
    }

    .more-btn {
        &:hover {
            color: #005640;

            path {
                fill: #005640;
            }
        }
    }

    .read {


        &__item-btn:hover {
            transition: 0.3s;
            background: #005640;
            color: #fff;
            border-color: #005640;
        }
    }

    .footer {
        a:hover {
            color: #fff;
        }



        &__item:hover {
            path {
                transition: 0.3s;
                stroke: #005640;
            }
        }
    }
}

.top-btn {
    @extend %montserrat-600;
    padding: 0 30px;
    border-radius: 18px;
    height: 36px;
    line-height: 36px;

    background: #fff;
    color: rgb(0, 0, 0);
    transition: .3s;
    border: 1px solid #1E1E1E;


}





.categories {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    // justify-content: space-between;
    flex-wrap: wrap;
    align-content: normal;

    &__link {
        padding: 0 40px;
        height: 42px;

        border: 1px solid #d2d2d2;
        border-radius: 31px;

        background: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        @extend %roboto-300;
        color: #545454;
        line-height: 19px;
    }
}

.more-news {
    &__item {
        border-color: transparent;
        transition: 0.3s;
        /* Плавна зміна границі при наведенні та забиранні курсору */
    }
}

.more-btn {
    color: #1e1e1e;

    margin-top: 31px;
    padding-right: 44px;
    @extend %montserrat-600;
    font-size: 17px;
    line-height: 21px;
    display: block;
    text-align: right;
    position: relative;

    & svg:first-child {
        display: block;
    }

    & svg:last-child {
        display: none;
    }

    path {
        transition: 0.3s;
    }



    svg {
        position: absolute;
        right: 0;
        bottom: 1px;
    }
}

.articles {
    &__item {
        transition: 0.3s;
    }

}

.read {
    &__item-btn {
        transition: 0.3s;
    }


}

.footer {


    path {
        transition: 0.3s;
    }


}