.breadcrumbs {
    &__list {
        display: flex;

    }

    &__item+&__item {

        &::before {
            content: "  I  ";
            font-size: 16px;
            @extend %roboto-300;
            line-height: 19px;
            color: #545454;
            left: 0;
            bottom: 0;
            white-space: pre
        }
    }

    &__link {
        font-size: 16px;
        @extend %roboto-300;
        line-height: 19px;
        color: #545454;
    }
}