html,
body {
    height: 100%;
}

.no-scroll {
    overflow: hidden;
}

.padding {
    padding-right: 17px;
}

body {
    font-size: 16px;
    // line-height: 140%;
    color: $default;
    @extend %roboto-300;

    display: flex;
    flex-direction: column;
    letter-spacing: 0;
    text-align: left;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1154px;
    margin: 0 auto;
    padding: 0 35px;
}

a {
    font-size: 16px;
    // line-height: 1.15;
    // color: #545454;
    // background-color: #fff;
    // @extend %quicksand-500;
}

.title {
    display: inline-block;

}

.title-kit {
    &__separator {
        margin: 0 25px;
        width: 0;
        height: 42px;
        border: 1px solid #005640;
        display: inline-block;
    }

    &__descr {
        display: inline-block;
        @extend %roboto-300;
        line-height: 140%;
        text-align: left;
        font-size: 20px;
    }
}





.date {
    color: #404040;
    @extend %roboto-300;
    font-size: 15px;
    line-height: 18px;
}