html,
body {
    height: 100%;

}

body {
    @extend %roboto-300;
    color: #000000;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: left;


    letter-spacing: 0;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;

}





.main {
    flex-grow: 1;
}

.container {
    max-width: 1154px;
    margin: 0 auto;
    padding: 0 35px;
}

a {
    font-size: 16px;
    // line-height: 1.15;
    // color: #545454;
    // background-color: #fff;
    // @extend %quicksand-500;
}

.title {
    display: inline-block;

}

.slick-track {
    padding-bottom: 10px;
}

.read-social {
    max-width: 1084px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    background: #005640;
    padding: 19px;
    display: flex;
    justify-content: center;
    gap: 0 20px;
    align-items: center;


    &__text {
        color: rgb(255, 255, 255);
        @extend %montserrat-600;
        font-size: 25px;
        line-height: 30px;
    }

    &__items {
        display: flex;
        justify-content: center;
        gap: 0 10px;
    }
}