@import '../../../node_modules/reset-css/sass/reset';

*,
*::before,
*::after {
    box-sizing: border-box;
}

a,
a:hover {

    text-decoration: none;
    color: #fff;
}

button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}