.category-page {
    padding: 46px 0 80px;

    &__title-inner {
        margin-top: 10px;
    }


    &__articles {
        margin-top: 40px;
    }

    &__form {
        margin-top: 39px;
    }

    .categories {
        &__link {
            padding: 0 30px;
        }

    }



}