.media {
    padding: 75px 0 55px;

    &__articles {
        margin-top: 17px;
    }

    & .articles__item:nth-child(1) {
        max-width: 715px;

        & .articles__img {
            min-height: 261px;
        }

        & .articles__body {
            min-height: 109px;
        }
    }

    // &__categories {
    //     margin-top: 20px;
    // }

    &__choise {
        margin-top: 50px;
        @extend %montserrat-400;
        font-size: 17px;
        line-height: 21px;
    }

}

.choise {

    &__title {
        color: rgb(30, 30, 30);
        @extend %montserrat-400;
        line-height: 21px;
    }

    &__articles {
        margin-top: 17px;

    }

    &__articles> :first-child {
        max-width: 715px;


    }

    &.articles__items> :first-child .articles__img {
        min-height: 261px;

    }

    &.articles__items> :first-child .articles__body {
        min-height: 109px;

    }


}

.more-news {
    padding: 56px 0;
    background: rgb(240, 240, 240);

    &__items {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        max-width: 229px;
        padding: 2px 0 2px 24px;
        border-left: 1.5px solid #1e1e1e;
    }

    &__title {
        margin-top: 10px;
    }
}

.article {
    padding: 59px 0 55px;

    &__read-social {
        margin-top: 60px;
        background: #005640;
        padding: 19px;
        display: flex;
        justify-content: center;
        gap: 0 20px;
        align-items: center;
    }

    &__read-text {
        color: rgb(255, 255, 255);
        @extend %montserrat-600;
        font-size: 25px;
        line-height: 30px;
    }

    &__read-items {
        display: flex;
        justify-content: center;
        gap: 0 10px;
    }

}

.cases {
    padding: 55px 0 70px;
    background: #f0f0f0;

    & .articles {
        margin-top: 21px;
    }
}

.by-direction {
    padding: 55px 0 55px;

    & .articles {
        margin-top: 30px;
    }
}

.read {
    padding: 90px 0 134px;
    background: rgb(242, 242, 241);

    &__inner {
        position: relative;
    }

    &__window {

        max-width: 806px;
        min-height: 480px;
        padding: 51px 68px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
    }

    &__slash {
        width: 75px;
        height: 54px;
    }

    &__title {
        margin-top: 15px;
        color: #ffffff;
    }

    &__item {
        padding: 45px 37px;
        max-width: 389px;
        min-height: 446px;
        right: 0;
        bottom: -34px;
        position: absolute;
        box-shadow: 0px 0px 15.81px 0px #00000040;
        background: rgb(255, 255, 255);
    }

    &__text {
        margin-top: 13px;
        @extend %roboto-300;
        color: rgb(0, 0, 0);
        font-size: 18px;
        line-height: 140%;
    }


    &__item-btn {
        margin: 30px 0;
        padding: 10px 30px;
        color: #545454;
        @extend %roboto-300;
        line-height: 19px;
        border: 1px solid #d2d2d2;
        border-radius: 31px;
        background: #ffffff;
        display: inline-block;
    }
}

.descr-media {
    padding: 79px 0 81px;

    &__text {
        color: #000000;
        @extend %roboto-300;
        font-size: 15px;
        line-height: 18px;
    }
}