.subcategory-page {
    padding: 46px 0 80px;


    &__articles {
        margin-top: 40px;
    }

    &__form {
        margin-top: 39px;
    }

    &__separator {
        display: none;
    }

    &__descr {
        display: none;
    }

    &__title-inner {
        margin-top: 10px;
    }

    .read-social {
        display: none;
    }



}