.footer {
    &__info {
        padding: 65px 0 60px 0;
        background: #363636
    }




    &__columns {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 25px;
    }

    &__column:nth-child(1) {
        max-width: 190px;
    }

    &__column:nth-child(2) {
        max-width: 252px;
    }

    &__column:nth-child(3) {
        max-width: 321px;
    }

    &__column:nth-child(4) {
        max-width: 162px;
        padding-right: 21px;

    }

    &__title {
        @extend %montserrat-regular;
        color: #fff;
        font-size: 13.7px;
        line-height: 17px;
    }

    &__menu {
        padding-top: 25px;
    }

    &__item {
        padding: 5px 0 5px 18px;
        position: relative;

    }

    &__item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 9px;
        height: 50%;
        border-bottom: 1px solid #D2D2D2;
        border-left: 1px solid #D2D2D2;

    }

    &__item:nth-child(1):before {

        top: 5px;
        height: 40%;


    }

    &__item:not(:last-child)::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 50%;
        border-left: 1px solid #D2D2D2;

    }

    &__link {
        @extend %montserrat-extralight;
        font-size: 14px;
        line-height: 17px;
        color: #fff;
    }

    &__item--social::before {
        display: none;

    }

    &__item--social::after {
        display: none;
    }

    &__link--social {
        position: relative;
        padding-left: 11px;
    }

    &__icon {
        position: absolute;
        // width: 18px;
        // height: 18px;
        left: -8px;
        bottom: 0;
        transform: translate(-50%, 0);

    }

    &__copy {
        background: #1E1E1E;
        padding: 17px 0 25px;
    }

    &__copy-text {
        color: #CFCFCF;
        font-family: Montserrat, sans-serif;
        font-weight: 275;
        font-style: normal;
        font-size: 14px;
        line-height: 27px;
    }
}